<footer>
	<div class="left">
		<nav>
			<span>Info</span>
			<a href="/about">about</a>
			<a href="/sustainability">sustainability</a>
		</nav>
		<nav>
			<span>Orders</span>
			<a href="/shipping-policy">shipping</a>
			<a href="/returns-policy">returns</a>
			<a href="/contact">contact</a>
		</nav>
		<nav>
			<span>Social</span>
			<a href="//instagram.com/tarpley.us">instagram</a>
			<a href="//facebook.com/tarpley.us">facebook</a>
			<a href="https://www.youtube.com/channel/UC3uZck3cGM6WDNv6kejmm0g">youtube</a>
			<a href="//pinterest.com/tarpley_">pinterest</a>
			<a href="//twitter.com/tarpley_us">twitter</a>
			<a href="//tiktok.com/@tarpley_">tiktok</a>
		</nav>
	</div>
	<div class="right">
		<span>newsletter</span>
		<p>A digital brief offering exclusive content, collection previews, and information.</p>
		<form action="">
			<input type="email">
			<input type="submit" value="sign up">
		</form>
	</div>
</footer>