<header>
	<a href="/cart">cart</a>
	<a href="/">t a r p l e y</a>
	<a href="/search">
		<img src="" alt="search">
	</a>
	<details>
		<summary>
			<img src="" alt="hamburger">
		</summary>
		<a href="/">home</a>
		<a href="/shop">shop</a>
	</details>
</header>