<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ pkg.title }}</title>
	<style>
		{% include _style.css %}
	</style>
</head>
<body>
	{% include _header %}
	<main>{{ content | rstrip }}</main>
	{% include _footer %}
</body>
</html>