<div>
	<a href="">
		<img src="" alt="facebook">
	</a>
	<a href="">
		<img src="" alt="twitter">
	</a>
	<a href="">
		<img src="" alt="linkedin">
	</a>
	<a href="">
		<img src="" alt="reddit">
	</a>
	<a href="">
		<img src="" alt="tumblr">
	</a>
	<a href="">
		<img src="" alt="pinterest">
	</a>
</div>